*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

main{
    display: flex;
    flex-direction: column;
}

header{
    flex: 0 0 100%;
    flex-wrap: wrap;
}

nav{
    height: 40px;
    border:1px solid red;
    background-color: rgba(224, 131, 9, 0.63);
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    height: 100%;
}



nav a{
    color:white;
    border:1px solid red;
    height: 100%;
    padding: 19px;
}

nav a:hover{
    color:yellow;
}


article{
    flex: 0 0 100%;
}

footer{
    flex: 0 0 100%;
}


