/*index.html*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  background-color: red;
}

header {
  background-image: url(mese_kepek/banner.jpg);
  height: 240px;
  background-position: 0px 470px;
}

nav {
  background-color: rgb(224, 131, 9);
  width: 100%;
  box-shadow: 5px 5px 5px hsla(0, 2%, 10%, 0.395);
  position: sticky;
  top: 0;
}

nav ul {
  justify-content: flex-end;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  height: 100%;
}
nav ul li {
  display: flex;
  align-items: center;
  height: 40px;
  border-right: 1px solid red;
}

nav a {
  text-decoration: none;
  color: white;
  height: 100%;
  padding: 18px;
  padding-top: 10px;
}

nav a:hover {
  color: yellow;
}

nav li:first-child {
  border: none;
  margin-right: auto;
  padding-left: 10px;
}

#nav-kep img {
  width: 20px;
}

article {
  background-color: darkred;
  margin: auto;
  width: 70%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

article img {
  border: 5px solid white;
  width: 300px;
}

footer {
  flex: 0 0 100%;
}


article{
  padding-top:20px;
}



/*Űrlap*/
fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  background-color: rgb(246, 232, 198);
  width: 90%;
  margin: auto;
}

main{
  margin: auto;
  width: 80%;
  background-color: rgb(246, 232, 198);
}

.elso{
  border: 1px solid blue;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  background-color: rgb(246, 232, 198);
}

.elso label{
  float:left;
  width: 50%;
  color:black;
}

.elso sup{
  color: red;
}

.elso legend{
  border: 1px solid black;
  background-color: rgb(61, 133, 61);
  color: white;
  padding: 8px;
  margin-left:50px;
  margin-top: 10px;
}


.elso legend{
  border: 1px solid black;
  background-color: orange;
  color: white;
  padding: 8px;
  margin-left:50px;
  margin-top: 10px;
}

#regisztracio{
  border: 1px solid black;
  background-color: rgb(61, 133, 61);
  color: white;
  padding: 8px;
  margin-left:20px;
  margin-top: 10px;
  margin-bottom: 30px;
}

form{
    padding-top:10px;
    padding-bottom: 10px;
  }



form h2 {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

fieldset {
  padding: 10px;
  color: white;
}

legend {
  border: 1px solid red;
  width: 70px;
  background-color: orange;
  color: white;
}

form p {
  padding: 5px;

}

.cim{
  font-style: italic;
  padding-bottom: 5px;
  color: black;
}

/*Media*/

@media (max-width: 600px) {
  header {
    display: none;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav ul li {
    border: none;
  }
  nav ul li:first-child {
    display: none;
  }
}
